.download {
  background-color: #1d2631;
  min-height: 271px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 20px 38px 20px;
  box-sizing: border-box;
  justify-content: space-between;
}

.download__button {
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
}

.download__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.download__description {
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}
