.download {
  background-color: #1d2631;
}

.download__button {
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
}

.download__list {
  list-style: none;
}

.download__description {
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
