.editor {
  min-height: 511px;
  background-color: #ffffff;

  @include desktop {
    min-height: 542px;
  }
}

.editor__wrapper {
  background-color: #f2f2f2;
  padding: 20px 20px 33px 20px;
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.editor__image {
  @include tablet {
    line-height: 0;
  }

  @include desktop {
    padding-top: 2px;
  }
}

.editor__options {
  display: flex;
  min-height: 120px;
  padding: 0 36px;
  padding-top: 4px;
  box-sizing: border-box;
  align-items: center;
}

.editor__options-icon {
  fill: rgba(#283645, 0.3);
  cursor: pointer;
}

.editor__options-icon--active {
  fill: #d22856;
}

.editor__options svg:hover {
  fill: rgba(#283645, 0.5);

  @include hover;
}

.editor__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 23px;
  padding-top: 38px;
}

.editor__range-block {
  min-height: 14px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 20px;

  @include tablet {
    margin-bottom: 57px;
    justify-content: center;
    padding: 0;
  }
}

.editor__range-block:nth-child(2),
.editor__range-block:nth-child(3) {
  display: none;
}

@media (min-width: 660px) {
  .editor__range-block:nth-child(2),
  .editor__range-block:nth-child(3) {
    display: flex;
  }
}

.editor__scale {
  height: 2px;
  background-color: #283645;
}

.editor__toggle {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 2px solid #d22856;
  border-radius: 50%;
  position: absolute;
  right: 53px;
  top: -5px;
  cursor: pointer;
}

.editor__toggle:active {
  background-color: #d22856;
}

.editor__button {
  @include button;
  color: #d22856;
  border: 3px solid #d22856;
  margin-bottom: 12px;
}

.editor__button-upload:hover {
  color: #ffffff;
  background-color: #d22856;

  @include hover;
}

.editor__button-upload:active {
  color: rgba(#ffffff, 0.3);
  background-color: #d22856;
}

.editor__button-cancel {
  color: rgba(#283645, 0.1);
  border: 3px solid rgba(#283645, 0.1);
}

.editor__button-cancel:hover {
  color: rgba(#283645, 0.3);
  border: 3px solid rgba(#283645, 0.3);

  @include hover;
}

.editor__button-cancel:active {
  color: rgba(#ffffff, 0.3);
  background-color: rgba(#283645, 0.3);
  border-color: rgba(#283645, 0);
}

.editor__block {
  width: 100%;
}

@media (min-width: 660px) {
  .editor__wrapper {
    display: flex;
    min-height: 511px;
    box-sizing: border-box;
    padding-top: 35px;
    flex-direction: row;
    width: 660px;
  }

  .editor__block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 18px;
  }

  .editor__options {
    flex-direction: column;
    width: 100px;
    padding: 0;
    padding-top: 9px;
  }

  .editor__range {
    width: 202px;
    display: flex;
    flex-direction: column;
    padding: 14px 0;
  }

  .editor__toggle {
    top: 0;
  }

  .editor__range-block:nth-child(1) .editor__toggle {
    right: 43px;
  }

  .editor__range-block:nth-child(2) .editor__toggle {
    left: 25px;
  }

  .editor__range-block:nth-child(3) .editor__toggle {
    left: 96px;
  }

  .editor__buttons {
    width: 100%;
    margin: 0;
    padding: 24px 12px 0 46px;
  }

  .editor__button {
    margin-bottom: 22px;
  }
}

@media (min-width: 960px) {
  .editor__block {
    padding-top: 2px;
  }

  .editor__range {
    width: 288px;
  }

  .editor__range-block:nth-child(1) .editor__toggle {
    left: 70px;
  }

  .editor__range-block:nth-child(2) .editor__toggle {
    left: 247px;
  }

  .editor__range-block:nth-child(3) .editor__toggle {
    left: 159px;
  }
}

@media (min-width: 960px) {
  .editor__options {
    width: 182px;
    padding-top: 0;
  }
}

@media (min-width: 960px) {
  .editor__wrapper {
    width: 940px;
    margin: 0 auto;
    min-height: 514px;
    padding: 54px 60px 0 80px;
    align-items: stretch;
  }

  .editor__buttons {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 90px;
    padding-top: 45px;
    padding-right: 0;
    padding-bottom: 36px;
  }

  .editor__button {
    min-width: 183px;
  }
}

.editor__range {
  padding-top: 3px;
  position: relative;

  @include tablet {
    padding-top: 14px;
  }
}

.editor__range-block::after {
  content: "";
  width: 320px;
  height: 1px;
  background-color: rgba(#283645, 0.1);
  position: absolute;
  left: -21px;
  top: 36px;

  @include tablet {
    width: 275px;
    left: -55px;
    top: 42px;
  }

  @include desktop {
    width: 410px;
    left: -92px;
    top: 42px;
  }
}
