.effect {
  display: none;
  background-color: #ffffff;
}

@media (min-width: 660px) {
  .effect {
    display: block;
  }

  .effect__wrapper {
    min-height: 333px;
    display: flex;
    width: 660px;
    margin: 0 auto;
  }

  .effect__image {
    display: flex;
    width: 50%;
    box-sizing: border-box;
    padding: 54px 72px 10px 20px;
    background-image: url("../img/icon-editor-diagram-fill.svg"), url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-position: 39px 108px, 20px 51px;
    background-size: 199px 198px, 238px 276px;
  }

  .effect__image p {
    margin: auto;
    font-weight: bold;
    font-size: 96px;
    line-height: 163px;
    color: #d22856;
    margin-top: 68px;

    @include desktop {
      font-size: 120px;
      margin-top: 122px;
      margin-left: 92px;
    }
  }

  .effect__image img {
    display: block;
  }

  .effect__description {
    width: 50%;
    padding-top: 92px;
    font-size: 14px;
    line-height: 24px;
  }

  .effect__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    width: 168px;
    margin: 0;
    margin-bottom: 10px;
  }

  .effect__text {
    margin: 0;
    width: 310px;
  }

  .effect__link {
    color: #d22856;
    display: block;
    margin-top: 10px;
    text-decoration: underline;
  }
}

@media (min-width: 960px) {
  .effect {
    background-color: #f2f2f2;
  }

  .effect__wrapper {
    width: 960px;
    margin: 0 auto;
    min-height: 423px;
  }

  .effect__image {
    width: 380px;
    padding: 0;
    background-image: url("../img/icon-editor-diagram-fill.svg"), url("../img/icon-timer.svg");
    background-position: 34px 81px, 7px 6px;
    background-size: 252px 252px, 305px 357px;
  }

  .effect__description {
    padding: 0;
    width: 534px;
    padding-top: 102px;
    padding-bottom: 102px;
  }

  .effect__title {
    width: auto;
    margin-bottom: 25px;
  }

  .effect__text {
    width: auto;
    font-size: 18px;
    line-height: 30px;
  }

  .effect__link {
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;
  }
}
