.features {
  background-color: #f2f2f2;
  position: relative;
  z-index: -1;
}

.features__title-block {
  min-height: 177px;
  background-color: #ffffff;
  padding-top: 42px;
}

@media (min-width: 660px) {
  .features__title-block {
    padding-top: 46px;
    min-height: 238px;
    box-sizing: border-box;
  }
}

@media (min-width: 1200px) {
  .features__title-block {
    padding-top: 60px;
    min-height: 323px;
  }
}

.features__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;

  @include tablet {
    font-size: 40px;
    line-height: 54px;
    margin: 0;
  }
}

@media (min-width: 660px) {
  .features__title:nth-child(2) {
    width: 340px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .features__title {
    font-size: 50px;
    line-height: 68px;
  }
}

@media (min-width: 1200px) {
  .features__title:nth-child(2) {
    width: 420px;
    margin-top: 0;
  }
}

.features__list-block {
  background-image: url("../../img/bg-triangle-white.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -1px;

  @include tablet {
    display: flex;
    min-height: 485px;
    padding-top: 5px;
  }
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 80px 20px 0 20px;
  margin-bottom: 40px;

  @include tablet {
    order: 1;
    width: 50%;
    box-sizing: border-box;
    padding-left: 0;
    padding-top: 70px;
    margin-bottom: 0;
    margin-left: 42px;
  }
}

.features__item {
  margin-bottom: 32px;
  text-align: center;

  @include tablet {
    text-align: left;
    margin-bottom: 36px;
  }
}

.features__item:last-child {
  @include tablet {
    margin-bottom: 0;
  }
}

.features__image {
  @include tablet {
    margin-left: 20px;
  }
}

.features__image picture:nth-child(1),
.features__image picture:nth-child(2) {
  display: none;
}

.features__image img {
  display: block;
  margin: 0 auto;
  margin-bottom: -45px;
}

@media (min-width: 1200px) {
  .features__list {
    display: flex;
    padding: 0 160px;
    width: 100%;
    justify-content: space-between;
    padding-top: 55px;
    margin-left: 0;
  }

  .features__list-block {
    flex-direction: column;
    min-height: 616px;
    padding-top: 0;
  }

  .features__image {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 130px;
    box-sizing: border-box;
    margin-left: 0;
  }

  .features__image picture:nth-child(1),
  .features__image picture:nth-child(2) {
    display: block;
  }

  .features__image img {
    margin: 0;
  }

  .features__item {
    text-align: center;
    width: 240px;
  }
}

.features__item-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 11px;
}

@media (min-width: 1200px) {
  .features__item-name {
    font-size: 30px;
    line-height: 30px;
  }
}

.features__description {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

@media (min-width: 1200px) {
  .features__description {
    font-size: 18px;
    line-height: 30px;
    margin-top: 21px;
  }
}
