.features {
  background-color: #ffffff;
}

.features__title-block {
  height: 250px;
}

.features__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}

.features__list {
  list-style: none;
  background-color: #f2f2f2;
  margin: 0;
}

.features__item-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.features__description {
  font-size: 14px;
  line-height: 24px;
}
