.form {
  background-color: #ffffff;
}

.form label {
  cursor: pointer;
}

.form__field {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;

  @include tablet {
    width: 660px;
  }
}

@media (min-width: 960px) {
  .form__contacts-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .form__contacts-wrapper .form__input-block {
    width: 371px;
  }
}

@media (min-width: 960px) {
  .form__field {
    flex-direction: row;
    flex-wrap: wrap;
    width: 960px;
    padding: 0;
    box-sizing: border-box;
  }
}

@media (min-width: 660px) {
  .form__block--apps {
    order: 1;
  }

  .form__block--contacts {
    order: 2;
  }

  .form__block--achievements {
    order: 3;
  }

  .form__block--emotions {
    order: 4;
  }

  .form__block--submit {
    order: 5;
  }
}

@media (min-width: 660px) {
  .form__block--contacts .form__input-block {
    flex-direction: column-reverse;
  }

  .form__block--emotions .form__input-block {
    flex-direction: column;
  }

  .form__block--data .form__input-block {
    align-items: baseline;
  }
}

@media (min-width: 960px) {
  .form__block--data {
    width: 50%;
  }

  .form__block--apps {
    width: 50%;
  }

  .form__block--achievements {
    width: 100%;
  }

  .form__block--contacts {
    width: 100%;
  }

  .form__contacts {
    width: 100%;
  }

  .form__block--emotions {
    width: 100%;
  }
}

@media (min-width: 960px) {
  .form__block--contacts {
    display: flex;
  }
}

.form__title {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding: 44px 22px 22px 22px;
}

@media (min-width: 660px) {
  .form__title {
    font-size: 18px;
    width: 490px;
    margin: 0 auto;
    padding-top: 91px;
  }
}

@media (min-width: 960px) {
  .form__title {
    width: 756px;
  }
}

.form__block {
  padding: 20px;
  padding-bottom: 25px;
  padding-top: 13px;
  box-sizing: border-box;
}

.form__block--contacts {
  padding-top: 32px;

  @include desktop {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.form__block--apps {
  min-height: 340px;
}

@media (min-width: 660px) {
  .form__apps {
    min-height: 303px;
  }

  .form__contacts label {
    margin-top: 9px;
    margin-left: 18px;
  }
}

.form__block--emotions {
  padding-top: 38px;
}

@media (min-width: 660px) {
  .form__block--emotions {
    padding-top: 34px;
  }
}

@media (min-width: 960px) {
  .form__block--emotions {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.form__block--submit {
  padding-top: 18px;
  padding-bottom: 17px;
}

@media (min-width: 660px) {
  .form__block--submit {
    padding-top: 40px;
    padding-left: 21px;
    padding-bottom: 46px;
  }
}

@media (min-width: 660px) {
  .form__block--submit {
    width: 100%;
    padding-bottom: 50px;
  }
}

@media (min-width: 960px) {
  .form__block--submit {
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 43px;
  }
}

@media (min-width: 660px) {
  .form__block--data {
    padding-top: 49px;
  }

  .form__block--data .form__input-block:last-child {
    margin-bottom: 0;
  }

  .form__block--contacts .form__input-block {
    margin-bottom: 25px;
  }

  .form__block--contacts .form__input-block:last-child {
    margin-bottom: 0;
  }

  .form__block--submit {
    display: flex;
  }
}

@media (min-width: 960px) {
  .form__block--data {
    padding-right: 35px;
    padding-left: 10px;
    padding-top: 63px;
  }

  .form__block--apps {
    padding-left: 35px;
  }
}

@media (min-width: 960px) {
  .form__block--contacts .form__input-block {
    margin-bottom: 0;
  }
}

.form__input {
  font-size: 18px;
  line-height: 30px;
  height: 59px;
  padding-left: 20px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
}

.form__input:hover {
  border-color: #283645;

  @include hover;
}

.form__input:focus {
  outline: 0;
  border-color: #d22856;
}

.form__contacts-wrapper {
  position: relative;
}

.form__contacts-wrapper .form__input-block {
  position: relative;
}

.form__contacts-wrapper .form__input-block:first-child::before,
.form__contacts-wrapper .form__input-block:last-child::after {
  @include tablet {
    content: "";
    position: absolute;
    width: 60px;
    height: 65px;
    background-color: #e5e5e5;
    background-image: url("../img/icon-phone.svg");
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
  }

  @include desktop {
    right: -1px;
  }
}

.form__contacts-wrapper .form__input-block:last-child::after {
  @include tablet {
    background-image: url("../img/icon-mail.svg");
  }

  @include desktop {
    top: 0;
    right: -1px;
  }
}

.form__achievements-input,
.form__apps-input {
  display: none;
}

.form__achievements-input + .form__achievements-label::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  left: 0;
  top: -3px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.form__achievements-input + .form__achievements-label:hover::before {
  border-color: #283645;
  transition: 0.2s;
}

.form__achievements-input + .form__achievements-label:active::before {
  border-color: #d22856;
}

.form__achievements-input:checked + .form__achievements-label::after {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  left: 0;
  top: -3px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  box-sizing: border-box;
  background-image: url("../img/icon-yes.svg");
  background-size: 22px 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.form__achievements-input + .form__achievements-label:hover::after {
  border-color: #283645;
  transition: 0.2s;
}

.form__achievements-input + .form__achievements-label:active::after {
  border-color: #d22856;
}

.form__apps-input + .form__apps-label::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: -5px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 50%;
  left: 0;
}

.form__apps-input:checked + .form__apps-label::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: -5px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 50%;
  left: 0;
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.form__apps-input + .form__apps-label:hover::before,
.form__apps-input + .form__apps-label:hover::after {
  border-color: #283645;
  transition: 0.2s;
}

.form__apps-input + .form__apps-label:active::before,
.form__apps-input + .form__apps-label:active::after {
  border-color: #d22856;
}

@media (min-width: 660px) {
  .form__input {
    flex-grow: 1;
  }

  .form__block--data .form__input {
    margin-left: 22px;
  }
}

.form__input-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form textarea {
  resize: none;
  font-family: inherit;
}

@media (min-width: 660px) {
  .form__input-block {
    flex-direction: row;
    margin-bottom: 50px;
  }
}

.form__label {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;
  padding-left: 23px;
  margin-bottom: 4px;
}

@media (min-width: 660px) {
  .form__label {
    padding-left: 0;
  }
}

.form__input--big {
  min-height: 201px;
  margin-top: 16px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 13px;
}

.form__button {
  width: 280px;
  min-height: 63px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 1px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.form__button--disabled {
  background-color: #e5e5e5;
  border: 2px solid #e5e5e5;
  pointer-events: none;
}

.form__button:hover {
  background-color: #1c9b5e;
  border-color: #1c9b5e;

  @include hover;
}

.form__button:active {
  color: rgba(#ffffff, 0.3);
}

@media (min-width: 660px) {
  .form__button {
    width: 300px;
  }
}

@media (min-width: 660px) {
  .form__input--big {
    width: 100%;
    margin-top: 36px;
    min-height: 192px;
    padding-left: 18px;
  }
}

@media (min-width: 960px) {
  .form__input--big {
    margin-top: 33px;
    width: 100%;
    min-height: 128px;
  }
}

.form__input::placeholder {
  color: #283645;
}

.form__block--achievements {
  min-height: 604px;
}

.form__block--apps,
.form__block--achievements {
  background-color: #f2f2f2;
  padding-top: 40px;
}

@media (min-width: 660px) {
  .form__block--apps,
  .form__block--achievements {
    background-color: transparent;
  }

  .form__block--apps {
    padding-top: 33px;
  }

  .form__block--achievements {
    padding-top: 34px;
  }
}

@media (min-width: 960px) {
  .form__block--apps {
    padding-top: 50px;
    padding-right: 10px;
  }

  .form__block--achievements {
    min-height: 290px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .form__achievements-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 960px) {
  .form__achievements-item:nth-child(2) {
    order: 3;
  }

  .form__achievements-item:nth-child(3) {
    order: 1;
  }

  .form__achievements-item:nth-child(4) {
    order: 4;
  }

  .form__achievements-item:nth-child(5) {
    order: 2;
  }

  .form__achievements-item:nth-child(6) {
    order: 5;
  }
}

.form__achievements,
.form__apps,
.form__emotions,
.form__contacts {
  border: 0;
  padding: 0;
  margin: 0;
}

@media (min-width: 660px) {
  .form__contacts {
    min-height: 318px;
    padding-top: 34px;
    box-sizing: border-box;
  }

  .form__achievements {
    min-height: 556px;
  }

  .form__emotions {
    min-height: 296px;
  }
}

.form__contacts legend {
  display: none;
}

@media (min-width: 660px) {
  .form__contacts legend {
    display: block;
  }
}

@media (min-width: 660px) {
  .form__achievements,
  .form__apps,
  .form__emotions,
  .form__contacts {
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: 960px) {
  .form__contacts {
    padding-top: 33px;
    min-height: 170px;
  }

  .form__achievements {
    min-height: 236px;
    padding-right: 10px;
  }

  .form__emotions {
    min-height: 219px;
  }
}

@media (min-width: 960px) {
  .form__apps {
    padding-left: 50px;
    padding-right: 0;
  }
}

.form__achievements-title,
.form__apps-title,
.form__contacts-title,
.form__emotions-title {
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
}

.form__achievements-list,
.form__apps-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form__achievements-list {
  padding-top: 40px;
}

@media (min-width: 660px) {
  .form__achievements-list {
    padding-top: 45px;
  }
}

.form__achievements-item {
  margin-bottom: 52px;
  position: relative;

  @include desktop {
    width: 257px;
  }
}

.form__achievements-item:last-child {
  margin-bottom: 0;
}

.form__apps-list {
  padding-top: 38px;
}

@media (min-width: 660px) {
  .form__apps-list {
    padding-top: 48px;
  }
}

@media (min-width: 960px) {
  .form__apps-list {
    padding-top: 48px;
    padding-left: 23px;
  }
}

.form__apps-item {
  margin-bottom: 45px;
  position: relative;
}

.form__apps-label {
  margin-left: 70px;
}

@media (min-width: 660px) {
  .form__apps-label {
    margin-left: 59px;
  }
}

.form__apps-item:last-child {
  margin-bottom: 0;
}

.form__achievements-label,
.form__apps-label {
  font-size: 18px;
  line-height: 30px;
}

.form__achievements-label {
  margin-left: 59px;

  @include tablet {
    margin-left: 57px;
  }
}

@media (min-width: 660px) {
  .form__button {
    margin: 0;
  }
}

.form__required-text {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 35px;

  span:first-child {
    color: #d22856;
  }
}

.form__additional-text {
  display: none;
}

@media (min-width: 960px) {
  .form__additional-text {
    display: inline;
  }
}

@media (min-width: 660px) {
  .form__required-text {
    margin-left: auto;
    margin-top: 17px;
  }
}

.form__failure-pop-up,
.form__success-pop-up {
  display: none;
  width: 320px;
  min-height: 289px;
  padding: 44px 0 52px 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  margin: 0 auto;

  @include tablet {
    width: 460px;
    font-size: 18px;
  }

  @include desktop {
    width: 780px;
  }
}

.form__failure-pop-up p:first-child,
.form__success-pop-up p:first-child {
  font-size: 18px;

  @include tablet {
    font-size: 30px;
    line-height: 40px;
  }
}

.form__button-wrapper {
  min-height: 163px;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}

.form__failure-pop-up .form__button-wrapper {
  @media (max-width: 1199px) {
    background-color: #ffffff;
  }
}

.form__button-wrapper button {
  margin: 0 auto;
}

.form__success-pop-up button {
  @include desktop {
    width: 460px;
  }
}

.form__title--appeal {
  display: none;
}

@media (min-width: 660px) {
  .form__title--appeal {
    display: inline;
  }
}

.form__contacts-wrapper .form__input {
  @include tablet {
    width: 410px;
  }

  @include desktop {
    width: 286px;
  }
}

.form__achievements-title {
  padding: 0 20px;
}

@media (min-width: 660px) {
  .form__apps-title {
    padding: 0 25px;
  }

  .form__contacts-title {
    padding: 0 32px;
  }

  .form__achievements-title {
    padding: 0 31px;
  }

  .form__emotions-title {
    padding: 0 38px;
  }
}
