.form {
  background-color: #ffffff;
}

.form__title {
  font-size: 14px;
  line-height: 30px;
}

.form__input {
  font-size: 18px;
  line-height: 30px;
}

.form__label {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;
}

.form__input::placeholder {
  color: #283645;
}

.form__block--achievements {
  background-color: #f2f2f2;
}

.form__fieldset {
  border: 0;
}

.form__legend {
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
}

.form-list {
  list-style: none;
}

.form__achievements-label {
  font-size: 18px;
  line-height: 30px;
}

.form__block--apps {
  background-color: #f2f2f2;
}

.form__required-text {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;

  span {
    color: #d22856;
  }
}
