.intro {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  padding-top: 29px;
  height: 462px;

  &--small {
    height: 237px;
  }
}

.intro__title {
  color: #ffffff;
  font-weight: 300;
  line-height: 120%;
  margin: 0;
}
