.intro {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  padding-top: 23px;
  min-height: 396px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-size: 100%;

  @include retina {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.intro__wrapper {
  @include mobile-wrapper;
  margin: 0 auto;

  @include tablet {
    @include tablet-wrapper;
  }

  @include desktop {
    @include desktop-wrapper;
    position: relative;
  }
}

@media (min-width: 660px) {
  .intro {
    padding-top: 94px;
    min-height: 617px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: auto;
    background-position: center;

    @include retina {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }
}

@media (min-width: 960px) {
  .intro {
    padding-top: 210px;
    min-height: 853px;
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @include retina {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
}

.intro__image img {
  display: block;
}

.intro__image {
  @include tablet {
    order: 2;
    position: absolute;
    bottom: 0;
    right: -20px;
  }

  @include desktop {
    right: -116px;
    top: -2px;
  }
}

.intro--small {
  min-height: 170px;
  padding-top: 27px;
}

.intro__title {
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  margin: 0 auto;
  text-align: center;
  width: 263px;
  margin-bottom: 30px;
}

.intro--small .intro__title {
  line-height: 33px;
}

@media (min-width: 660px) {
  .intro__title {
    font-size: 40px;
    margin: 0;
    margin-left: 40px;
  }
}

@media (min-width: 660px) {
  .intro--small {
    padding-top: 65px;
    min-height: 330px;
  }

  .intro--small .intro__title {
    font-size: 50px;
    line-height: 68px;
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: 960px) {
  .intro--small {
    padding-left: 0;
    min-height: 394px;
    padding-top: 170px;
  }

  .intro--small .intro__title {
    width: 747px;
  }
}

@media (min-width: 960px) {
  .intro__title {
    font-size: 50px;
    line-height: 68px;
    margin: 0;
    margin-left: 30px;
  }
}
