.intro {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  padding-top: 29px;
  min-height: 396px;
  position: relative;
  box-sizing: border-box;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.intro img {
  width: fit-content;
}

@media (min-width: 660px) {
  .intro img {
    order: 2;
  }
}

.intro--small {
  min-height: 237px;
}

.intro__title {
  color: #ffffff;
  font-weight: 300;
  line-height: 120%;
  margin: 0 auto;
  text-align: center;
  width: 263px;
}
