.main-nav {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-nav--closed {
  @media (max-width: 959px) {
    display: none;
  }
}

@media (min-width: 960px) {
  .main-nav {
    flex-direction: row;
    flex-grow: 1;
    padding-left: 162px;
    padding-top: 23px;
    padding-right: 10px;
  }

  .main-nav__wrapper {
    flex-grow: 1;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
}
