.main-nav {
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (min-width: 1200px) {
  .main-nav {
    flex-direction: row;
    flex-grow: 1;
    padding-left: 106px;
    padding-top: 23px;
  }

  .main-nav__wrapper {
    flex-grow: 1;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
}
