.page-header {
  background-color: #283645;
}

.page-header > a {
  display: block;
  padding-top: 23px;
  padding-left: 20px;
}

@media (min-width: 1200px) {
  .page-header {
    display: flex;
  }
}
