.page__body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Open Sans", "Tahoma", sans-serif;
  color: #283645;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.visually-hidden {
  display: none;
}
