.photos {
  background-color: #ffffff;
}

.photos__intro {
  font-size: 14px;
  line-height: 30px;
}

.photos__description {
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 24px;
}

.photos__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.photos__like {
  color: #d22856;
  text-transform: uppercase;
}
