.prices-slider {
  position: relative;
  min-height: 330px;
}

@media (min-width: 660px) {
  .prices-slider {
    min-height: 290px;
    display: flex;
    justify-content: center;
  }
}

.prices-slider__toggles {
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  text-align: center;
}
