.prices {
  min-height: 460px;
  box-sizing: border-box;
  padding-top: 105px;
  padding-bottom: 49px;
  background-color: #f2f2f2;
  overflow: hidden;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -1px;
}

@media (min-width: 660px) {
  .prices {
    padding-top: 106px;
    padding-bottom: 0;
    min-height: auto;
  }
}

@media (min-width: 960px) {
  .prices {
    padding-top: 152px;
    min-height: 534px;
  }
}

.prices__list {
  display: flex;
  position: absolute;
  transform: translateX(-260px);
}

@media (min-width: 660px) {
  .prices__list {
    transform: none;
    min-width: 616px;
  }

  .prices__advantage {
    display: none;
  }

  .prices__item:first-child .prices__advantage {
    display: block;
    text-transform: none;
  }

  .prices__item:first-child dl {
    padding: 0;
    padding-top: 10px;
    padding-left: 15px;
  }
}

.prices__item {
  width: 280px;
}

.prices__item--hit dl:first-child {
  position: relative;
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;

  @include tablet {
    background-image: url("../img/bg-hit-tablet.svg");
  }

  @include desktop {
    background-image: url("../img/bg-hit.svg");
  }
}

.prices__item--hit dl:first-child::before {
  content: "ХИТ";
  position: absolute;
  transform: rotate(-45deg);
  left: 12px;
  top: 22px;
  font-size: 14px;

  @include tablet {
    left: 6px;
    top: 18px;
  }

  @include desktop {
    left: 12px;
    top: 22px;
  }
}

@media (min-width: 660px) {
  .prices__item {
    width: 153px;
    margin-left: 2px;
  }
}

.prices__item dl {
  display: flex;
  min-height: 61px;
  padding: 13px 17px 9px 20px;
  box-sizing: border-box;
  justify-content: space-between;
  border: 1px solid #f2f2f2;
  border-top: none;
  background-color: #ffffff;
}

.prices__item dl:first-child {
  display: block;
  background-color: #283645;
  color: white;
  text-align: center;
  min-height: 100px;
  padding-top: 11px;
}

.prices__item dl,
.prices__item dd {
  margin: 0;
}

.prices__name {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

@media (min-width: 960px) {
  .prices__name {
    font-size: 18px;
  }
}

.prices__amount {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

@media (min-width: 960px) {
  .prices__amount {
    font-size: 24px;
  }
}

.prices__advantage {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.prices__item:first-child {
  display: none;
}

.prices__toggles {
  display: flex;
  width: 55px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 660px) {
  .prices__item:first-child {
    display: block;
    padding-top: 79px;
  }

  .prices__item dl {
    min-height: 47px;
    padding: 0;
  }

  .prices__item dd {
    margin: auto;
  }

  .prices__item dl:first-child {
    min-height: 79px;
    padding: 0;
    padding-top: 12px;
  }

  .prices__item:first-child dl:first-child {
    display: none;
  }

  .prices__item:nth-child(2) dl:first-child {
    border-radius: 1px 0 0 0;
  }

  .prices__item:last-child dl:first-child {
    border-radius: 0 1px 0 0;
  }

  .prices-slider__toggles {
    display: none;
  }
}

@media (min-width: 960px) {
  .prices__item {
    width: 234px;
    margin-left: 1px;
  }

  .prices__item:first-child {
    padding-top: 98px;
  }

  .prices__item:first-child dl {
    padding-top: 12px;
    padding-left: 20px;
  }

  .prices__item dl {
    min-height: 61px;
  }

  .prices__item dl:first-child {
    min-height: 98px;
    padding-top: 15px;
  }

  .prices__advantage {
    font-size: 18px;
  }
}
