.reviews {
  background-color: #ffffff;
}

.reviews__author-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
}
