body {
  margin: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

.logo-pink-white-glasses,
.logo-pink-white-stars {
  display: none;
}

.logo-pink-white {
  fill: #ffffff;
}

.logo-pink-white:hover {
  fill: #d22856;

  @include hover;
}

.logo-pink-white:active {
  fill: #ffffff;
  opacity: 0.3;
}

@media (min-width: 660px) {
  .logo-pink-white,
  .logo-pink-white-stars {
    display: none;
  }

  .logo-pink-white-glasses {
    display: block;
    fill: #ffffff;
  }

  .logo-pink-white-glasses:hover {
    fill: #d22856;

    @include hover;
  }

  .logo-pink-white-glasses:active {
    fill: #ffffff;
    opacity: 0.3;
  }
}

@media (min-width: 960px) {
  .logo-pink-white,
  .logo-pink-white-glasses {
    display: none;
  }

  .logo-pink-white-stars {
    display: block;
    fill: #ffffff;
  }

  .logo-pink-white-stars:hover {
    fill: #d22856;

    @include hover;
  }

  .logo-pink-white-stars:active {
    fill: #ffffff;
    opacity: 0.3;
  }
}

.logo-pink-blue-stars {
  display: none;
  fill: #283645;
}

.logo-pink-blue {
  fill: #283645;
}

.logo-pink-blue:hover {
  fill: #d22856;

  @include hover;
}

.logo-pink-blue:active {
  fill: #283645;
  opacity: 0.3;
}

.logo-pink-blue-stars:hover {
  fill: #d22856;

  @include hover;
}

.logo-pink-blue-stars:active {
  fill: #283645;
  opacity: 0.3;
}

@media (min-width: 960px) {
  .logo-pink-blue {
    display: none;
  }

  .logo-pink-blue-stars {
    display: block;
  }
}
