.icon-review-arrow-left,
.icon-review-arrow-right {
  fill: rgba(#283645, 0.3);
  display: none;
  position: absolute;
  cursor: pointer;

  @include desktop {
    display: block;
  }
}

.icon-review-arrow-left:hover,
.icon-review-arrow-right:hover {
  fill: rgba(#283645, 0.6);

  @include hover;
}

.icon-review-arrow-left:active,
.icon-review-arrow-right:active {
  fill: rgba(#283645, 0.1);
}

.icon-review-arrow-left {
  left: 0;
  top: 47px;
}

.icon-review-arrow-right {
  right: 0;
  top: 47px;
}

.icon-editor-crop {
  width: 44px;
  height: 44px;

  @include tablet {
    width: 22px;
    height: 22px;
    margin-left: 20px;
  }

  @include desktop {
    width: 49px;
    height: 49px;
    margin-left: 41px;
  }
}

.icon-editor-fill {
  width: 51px;
  height: 45px;
  margin-left: 35px;
  margin-top: 6px;

  @include tablet {
    width: 24px;
    height: 22px;
    margin-top: 54px;
    margin-left: 18px;
    fill: #d22856;
  }

  @include desktop {
    width: 48px;
    height: 48px;
    margin-top: 25px;
    margin-left: 45px;
  }
}

.icon-editor-contrast {
  width: 32px;
  height: 32px;
  margin-left: 33px;

  @include tablet {
    width: 16px;
    height: 16px;
    margin-top: 48px;
    margin-left: 20px;
    fill: #d22856;
  }

  @include desktop {
    width: 32px;
    height: 32px;
    margin-top: 28px;
    margin-left: 42px;
  }
}
