@mixin button {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  padding: 15px 35px;
  cursor: pointer;
}

@mixin tablet {
  @media (min-width: 660px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 960px) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: 1.5dppx) {
    @content;
  }
}

@mixin hover {
  &:hover {
    transition: 0.2s;
  }
}

@mixin mobile-wrapper {
  width: 320px;
}

@mixin tablet-wrapper {
  width: 660px;
}

@mixin desktop-wrapper {
  width: 960px;
}
