@mixin button {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  padding: 15px 35px;
}

@mixin tablet {
  @media (min-width: 660px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}
